<div ng-init="init()">
    <h4>Подписать</h4>
    <form >

        <!--File-->
        <div class="form-group col-sm-6" style="padding-left: 0">
            <label for="accept_file">Документ</label>
            <input type="file" id="accept_file">
            <p class="help-block">Подписать</p>
        </div>

        <!--Submit-->
        <div class="form-group">

            <div class="col-sm-12" style="padding-left: 0">
                <button type="submit" class="btn btn-primary" ng-click="assign()">Подписать</button>
            </div>
        </div>
    </form>
</div>